.inputContainer {
  margin-bottom: 6px;
}

.label {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 6px;
  color: brown;
  position: absolute;
  transform: translate(7px, -30px);
}

.input:focus ~ .label {
  font-size: 8px;
  /* transform: ; */
}

.input {
  padding: 6px 5px;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  border: 2px solid sienna;
  width: 95%;
}

.invalidText {
  color: #e61616;
  font-size: 14px;
}

.input.invalid {
  border-color: #e61616;
  background-color: #fcd5b0;
}

.input::placeholder {
  color: #814105;
  font-size: 16px;
}
